# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories & default folders/files
.bundle
.dev_builds
!.final_builds/packages/golang-1-linux/*
pcap-release.tgz
config/private.yml
blobs
dev_releases
vendor
node_modules
package-lock.json
package.json

# Releases/tarballs
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
pcap-server.tgz
releases/*.tgz
releases/**/*.tgz


# IDEs & System Files
.DS_Store
.idea
.vscode
*.swp
*~
*#
#*
*.pem
*.key

# pcap files
*.pcap
