{
  "ci": false,
  "branches": ["main", {"name": "alpha", "prerelease": true}, {"name": "beta", "prerelease": true}],
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "angular",
      "releaseRules": [
        {"type": "dep", "release": "patch"}
      ],
      "parserOpts": {
        "noteKeywords": ["BREAKING CHANGE", "BREAKING-CHANGE"]
      }
    }],
    "@semantic-release/release-notes-generator",
    ["@semantic-release/exec", {
      "verifyReleaseCmd": "bosh -n create-release --final --version ${nextRelease.version} --tarball /tmp/pcap-${nextRelease.gitTag}.tgz",
      "publishCmd": "./ci/scripts/publish.sh ${nextRelease.gitTag}",
      "generateNotesCmd": "./ci/scripts/notes.sh ${nextRelease.gitTag} ${nextRelease.version}"
    }],
    ["@semantic-release/github", {
      "assets": [
        {"path": "/tmp/pcap-*.tgz"}
      ]
    }]
  ]
}
